{
  "openapi": "3.0.1",
  "info": {
    "title": "Fastag-Issuance",
    "description": "Fastag Issuance Management System plays vital role in the Tag Issuance which helps in issuing a new fastag to a customer and register it at NETC/NPCI and also helps in maintaining various stages throughout its lifecycle.The lifecycle management of each new fastag issued is done by this application.The application also serves inbound calls from wallet-system and oath-system to manage the state of tags for each customer depending on the state and balance of customer.Application always keep a sync of fastag and customer data with NPCI in order to maintain correct tag status.",
    "version": "0.0.1-SNAPSHOT"
  },
  "servers": [
    {
      "url": "http://fastag-issuer-issuance4-nonprod.paytmdgt.io",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Corporate Issuance Resource",
      "description": "Endpoints for handling issuance process for a corporate"
    },
    {
      "name": "Ecommerce Pre-validate Resource",
      "description": "Endpoints for processing pre-validation for tag coming from Ecommerce Channel"
    },
    {
      "name": "Tag Suspension Endpoints",
      "description": "Endpoints for suspend or unsuspend tag using toggle at NPCI and Paytm"
    },
    {
      "name": "Tag Suspension Endpoints for Dashboard",
      "description": "Endpoints for suspend or unsuspend tag using toggle at NPCI and Paytm"
    },
    {
      "name": "Tag Issuance Endpoints for OEM Channel",
      "description": "Endpoints for Issuance and managing tags for various functionalities through OEM channel"
    },
    {
      "name": "Resource for Managing OEM Pending Issuance",
      "description": "Endpoints for Issuance and managing for tags whose issuance are pending through OEM channel"
    },
    {
      "name": "HealthEndpoints",
      "description": "Endpoints for system health check"
    },
    {
      "name": "Paytm Wallet CallBack Resource",
      "description": "Endpoints for processing paytm wallet callback and provide respective response"
    },
    {
      "name": "Tag Issuance Endpoints for OEM Channel via dashboard",
      "description": "Endpoints for Issuance and managing tags for various functionalities through OEM channel"
    },
    {
      "name": "Payment Gateway CallBack Resource",
      "description": "Endpoints for processing payment gateway callback and provide respective response for a corporate"
    },
    {
      "name": "Tag Issuance Endpoints for V3",
      "description": "Endpoints for Issuance Dropdown List for v3"
    },
    {
      "name": "Lead Controller Resources",
      "description": "Endpoints for Creating a lead and fetching a lead data"
    },
    {
      "name": "Tag Sub-Wallet Replenish",
      "description": "Endpoints for replenishing sub-wallet for a tag"
    },
    {
      "name": "IHMCL Tag Detail Endpoint",
      "description": "Endpoints for fetching tag details from NPCI for IHMCL Tags"
    },
    {
      "name": "RMN Transfer Acceptance Resource",
      "description": "Endpoints for accepting an RMN Request for a tag"
    },
    {
      "name": "Tag Issuance Endpoints for Ecommerce",
      "description": "Endpoints for Issuance and managing fulfillment for Ecommerce"
    },
    {
      "name": "Cron Resource",
      "description": "Endpoints for all cron jobs"
    },
    {
      "name": "Vehicle Grouping Endpoints",
      "description": "Endpoints for flexibility to modify the limits of the groups, add new vehicles to the groups, transfer a vehicle from one group to another, disable a group, delete a group"
    },
    {
      "name": "NPCI Operation Resource",
      "description": "Endpoints for managing NPCI state for a tag and fetching its info"
    },
    {
      "name": "Corporate Issuance Dropdown Resource",
      "description": "Endpoints for listing dropdown for corporates"
    },
    {
      "name": "Efkon Tag Deposit Update Resource",
      "description": "Efkon Tag Deposit Update API"
    },
    {
      "name": "Tag Closure Endpoints Resource",
      "description": "Endpoints for managing tag closure process for closing tags for different channel"
    },
    {
      "name": "Admin Controller Resource",
      "description": "Endpoints for retrying issuance , download Challan and remove tag from soft block"
    },
    {
      "name": "Third Party Corporate Party Management Resource",
      "description": "Endpoints for on-boarding a third party , third party corporate and perform bulk issuance"
    },
    {
      "name": "Tag Issuance Endpoints",
      "description": "Endpoints for Issuance and managing tags for various functionalities"
    }
  ],
  "paths": {
    "/v1/fastag/vehicleGrouping/updateGroup/{groupId}": {
      "put": {
        "tags": [
          "Vehicle Grouping Endpoints"
        ],
        "summary": "Used to update groups within their corporate fleet",
        "description": "This API is used for update details of groups using the corporate dashboard and update duration, vehicles, limit and other details",
        "operationId": "updateGroup",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Id of vehicle group",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains Create Vehicle Group request having details of group name, type, limit, duration etc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/vehicleGrouping/changeStatus/{groupId}": {
      "put": {
        "tags": [
          "Vehicle Grouping Endpoints"
        ],
        "summary": "Used to change status of a corporate vehicle group",
        "description": "This API is used for updating status of a vehicle group found by provided group Id",
        "operationId": "changeStatus",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Id of vehicle group",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains Change Status Request having details of status to be updated for groupId",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/vehicleGrouping/addRemoveTagFromGroup": {
      "put": {
        "tags": [
          "Vehicle Grouping Endpoints"
        ],
        "summary": "Used to add/remove tags within a vehicle group",
        "description": "This API is used for addition or removal of a tag in a vehicle group",
        "operationId": "addRemoveTag",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains details of tags to be added/removed from a provided groupId group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRemoveVehicleInGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddRemoveVehicleInGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/saveUserTnc": {
      "put": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Save user acceptance on Tnc",
        "description": "Save user acceptance on Tnc",
        "operationId": "saveUserTnc",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains details of mode and userId for user whose Tnc needs to be saved",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveUserTncRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveUserTncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ext/v2/fastag/issuance/tags/{epcId}/state": {
      "put": {
        "tags": [
          "NPCI Operation Resource"
        ],
        "summary": "Process for updating status of a tag at NPCI",
        "description": "This API is used for processing for updating status of a tag at NPCI using tagId",
        "operationId": "manageException",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true
          },
          {
            "name": "epcId",
            "in": "path",
            "description": "epcId of Tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contains details for tagOperation , userId and state of tag to be updated at NPCI",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManageExceptionTagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success Status if no error encountered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ext/v2/fastag/issuance/tags/{epcId}/info": {
      "put": {
        "tags": [
          "NPCI Operation Resource"
        ],
        "summary": "Process for fetching status of a tag at NPCI",
        "description": "This API is used for processing for fetching status of a tag at NPCI using tagId",
        "operationId": "manageTagEntry",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true
          },
          {
            "name": "epcId",
            "in": "path",
            "description": "epcId of Tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contains details for tagEntryKey and userId to be used for fetching details from NPCI",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManageTagEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response containing VRN details and tag status at NPCI",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespMngTagEntries"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ext/v2/fastag/issuance/corporate/update": {
      "put": {
        "tags": [
          "Corporate Issuance Resource"
        ],
        "summary": "Allows user to update a Corporate Info ",
        "description": "This API is used to update information about a corporate using corporate Id or Corporate Name",
        "operationId": "editCorporate",
        "parameters": [
          {
            "name": "sso-token",
            "in": "header",
            "description": "sso-token to be validated before execution",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Request contain information aabout corporate Id or Corporate Name",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CorporateEditRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Success response on successful update",
                  "allOf": [
                    {
                      "type": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ext/v1/fastag/issuance/removeFromSoftBlock": {
      "put": {
        "tags": [
          "Admin Controller Resource"
        ],
        "summary": "Process tag data and removes it from soft block for tsn provided",
        "description": "This api is used to unblock a tag issued by GG or Bc channel with TSN provided in request",
        "operationId": "removeFromSoftBlock",
        "parameters": [
          {
            "name": "sso-token",
            "in": "header",
            "description": "sso-token to be validated before execution",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveSoftBlockRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveSoftBlockResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ext/v1/fastag/issuance/initiateTagClosure": {
      "put": {
        "tags": [
          "Tag Closure Endpoints Resource"
        ],
        "summary": "Used to initiate closure for a tag",
        "description": "This api is used to initiate closure for a tag",
        "operationId": "initiateTagClosure",
        "parameters": [
          {
            "name": "sso-token",
            "in": "header",
            "description": "sso-token to be validated before execution",
            "required": true
          },
          {
            "name": "tsn",
            "in": "query",
            "description": "tsn of tag to be closed",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "header",
            "description": "Source of tag closure",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contains comment to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateTagClosureRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitiateTagClosureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ext/v1/fastag/issuance/forceCloseTag": {
      "put": {
        "tags": [
          "Tag Closure Endpoints Resource"
        ],
        "summary": "Used to force close an eligible tag",
        "description": "This api is used to forcefully close a tag which is eligible for closure",
        "operationId": "forceCloseTag",
        "parameters": [
          {
            "name": "sso-token",
            "in": "header",
            "description": "sso-token to be validated before execution",
            "required": true
          },
          {
            "name": "tsn",
            "in": "query",
            "description": "tsn of tag to be closed",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Contains comment to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForceClosureTagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForceCloseTagResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ext/v1/fastag/issuance/closeTags": {
      "put": {
        "tags": [
          "Tag Closure Endpoints Resource"
        ],
        "summary": "Used to closed tag permanently initiated for closure",
        "description": "This api is used to closed tag permanently initiated for closure",
        "operationId": "permanentlyCloseTags",
        "parameters": [
          {
            "name": "sso-token",
            "in": "header",
            "description": "sso-token to be validated before execution",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains list of tags to be closed",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloseTagsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloseTagsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ext/v1/fastag/issuance/closeAllEligibleTags": {
      "put": {
        "tags": [
          "Tag Closure Endpoints Resource"
        ],
        "summary": "Used to closed all eligible tags permanently",
        "description": "This api is used to closed all eligible tags permanently steps followed from initiation to closure",
        "operationId": "permanentlyCloseAllEligibleTags",
        "parameters": [
          {
            "name": "sso-token",
            "in": "header",
            "description": "sso-token to be validated before execution",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermanentCloseEligibleTagsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastag/issuance/order-placed/notify": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints for Ecommerce"
        ],
        "summary": "Used for validating ecommerce order",
        "description": "This api is used for validating ecommerce order and creating order if required",
        "operationId": "notificationForPlacedEcommerceOrder",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains Issuance Place Order Notify request having details of order id , item id, vrn  and customer id",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlacedOrderNotificationRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateProcessOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastag/issuance/fulfillmentInfo": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints for Ecommerce"
        ],
        "summary": "Used for validating and issuing a tag for ecommerce",
        "description": "This API is used for issuing a tag came via ecommerce channel",
        "operationId": "fulfillmentInfoSync",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains Fulfillment request having details of order id , item id, vrn and tag",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FulfillmentInfoRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success Status if no error is encountered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillmentInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastag/issuance/3P/issuance": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints for Ecommerce"
        ],
        "summary": "Used for validating and issuing a tag for third party",
        "description": "This API is used for issuing a tag came via third party channel",
        "operationId": "fulfillmentInfoAsync",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains Third Party Fulfillment request having details of order id , item id, vrn  and tag",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThirdPartyFulfillmentInfoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success Status if no error is encountered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillmentInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/order/preValidate": {
      "post": {
        "tags": [
          "Ecommerce Pre-validate Resource"
        ],
        "summary": "Pre Validate order",
        "description": "This api will pre Validate order.",
        "operationId": "prevalidateOrder",
        "parameters": [
          {
            "name": "client",
            "in": "query",
            "description": "client id pf ecom user",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contains pre-validate request having details of cart items, lead and tag for Ecommerce channel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreValidateOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PreValidateOrderResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/vehicleGrouping/createGroup": {
      "post": {
        "tags": [
          "Vehicle Grouping Endpoints"
        ],
        "summary": "Used to create groups within their corporate fleet",
        "description": "This API is used for create groups using the corporate dashboard and add group name, type, limit and other details",
        "operationId": "createGroup",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains Create Vehicle Group request having details of group name, type, limit etc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/validateVrn": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Validate vehicle number from efkon",
        "description": "This api will validate the vehicle registration number.",
        "operationId": "validateVrn",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains details of vehicle number to be validated with NPCI",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateVehicleNoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success Response if no error encountered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/validateTag": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Validate Tag at FIS and NPCI",
        "description": "This api will validate the tag at FIS, that is is saleable or not and validate at NPCI as well",
        "operationId": "validateTag",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains details of tag sequence number needs to be verified with NPCI",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateTagRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateTagResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/validateIssuance": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Validate issuance for vehicle from OE",
        "description": "Validates IssuanceType on given Vehicle",
        "operationId": "validateIssuance",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains details of vehicle number to be validated with NPCI",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateVRNIssuanceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateVRNIssuanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/validateEpcid": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Validates a tag with epcId ",
        "description": "This API is used to validate a tag using epcId through Efkon Service",
        "operationId": "isValidEPCId",
        "requestBody": {
          "description": "Contains details of epcId and phone number registered with tag",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateEPCIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateEPCIdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/updateLeadStatus": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Update lead status",
        "description": "Update status of lead. This is being called by OE whenever there is some change in lead on OE side.",
        "operationId": "updateLeadStatus",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Contains details of lead and bank transaction details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeadStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success if no error encountered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/tagStatus": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Verifies tag status with NPCI",
        "description": "This api is used to verify tag status with NPCI and return status response",
        "operationId": "tagStatus",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains details of tag and vrn whose status needs to be verified with NPCI",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/tag/vinToVrn": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Updates tag vin to vrn",
        "description": "This API is used to update vehicle id (VIN) of a tag to its vehicle number(VRN)",
        "operationId": "vinToVrn",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Contains tsn , vrn and documents of tag whose vin needs to be updated ",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VinToVrnRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagDocumentUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/tag/update": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Updated RC documents for tag",
        "description": "This api is used to Updated RC documents for tag",
        "operationId": "updateTagDocument",
        "parameters": [
          {
            "name": "sso-token",
            "in": "header",
            "description": "sso-token to be validated before execution",
            "required": true
          },
          {
            "name": "sso_token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contains details of tag , vrn and documents needed to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagDocumentUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagDocumentUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/tag/rmn/accept": {
      "post": {
        "tags": [
          "RMN Transfer Acceptance Resource"
        ],
        "summary": "RMN Transfer for a tag to a new customer",
        "description": "This API is used to RMN Transfer for a tag to a new Customer",
        "operationId": "acceptTransfer",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains details of tag and destination customer for RMN Transfer",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmnTransferRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmnTransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/tag/activate": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Activates tag and creates lead",
        "description": "This API is used to activate an ecommerce tag and creates lead for the tag",
        "operationId": "activateTag",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains status of tag needs to be activated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagDocumentUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/reqDetailsIhmclTag": {
      "post": {
        "tags": [
          "IHMCL Tag Detail Endpoint"
        ],
        "summary": "Fetch Tag Details form NPCI for IHMCL Tags",
        "description": "This API is used for fetching Tag Details form NPCI for IHMCL Tags and validate tag in DB",
        "operationId": "ihmclTagDetail",
        "parameters": [
          {
            "name": "sso-token",
            "in": "header",
            "description": "SSO token for authentication of valid user"
          },
          {
            "name": "sso_token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contains vehicle number of tag used for fetching details of Tag",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TisIhmclTagDetailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TisIhmclTagDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/recommend/vehicleclass": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Recommend Vehicle Class",
        "description": "Recommend Vehicle CLass for User.This API will accept Gross Vehicle Weight(GVW) and No. of axle and suggest possible vehicle classes for new Fastag issuance",
        "operationId": "recommendVehicleClass",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains weight and number of axle of vehicle for recommendation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecommendVehicleClassRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendVehicleClassResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/preValidate": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Pre Validate order",
        "description": "This api will pre Validate order.",
        "operationId": "prevalidateOrder_1",
        "parameters": [
          {
            "name": "client",
            "in": "header",
            "description": "Client Id of user"
          },
          {
            "name": "client",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contains pre-validate request having details of cart items, lead and tag",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreValidateOrderRequestGGBC"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreValidateOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/order/paymentFailedNotify": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Notify order",
        "description": "This api will notify order.",
        "operationId": "notifyPaymentFail",
        "parameters": [
          {
            "name": "order_id",
            "in": "header",
            "description": "Order id Id of failed request"
          },
          {
            "name": "order_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Contains Notify request having details of cart items, lead and tag",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartPaymentFailNotify"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success Status if no error is encountered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/notify": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Notify order",
        "description": "This api will notify order.",
        "operationId": "notify",
        "requestBody": {
          "description": "Contains Notify request having details of cart items, lead and tag",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success Status if no error is encountered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/netc/reqDetails": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Used to fetch vrn details from NPCI",
        "description": "This API is used to fetch tag vrn details and validates it through NPCI",
        "operationId": "netcReqDetails",
        "requestBody": {
          "description": "Contains vrn and tag id of tag for npci data fetch",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NetcReqDetails"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetcRespDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/issuanceForm": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Validate and Submit issuance form",
        "description": "Validate and Submit issuance form.",
        "operationId": "submitIssuanceForm",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "recon",
            "in": "query",
            "description": "Is request is from a recon job flag",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sales_app",
            "in": "query",
            "description": "Sales app of Tags (non-mandatory)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contains Validate Issuance request having details of tag to be issued",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateIssuanceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/fetchOELeadData": {
      "post": {
        "tags": [
          "Lead Controller Resources"
        ],
        "summary": "Process for fetching OE lead data using tag sequence number",
        "description": "This API is used for fetching OE lead data using tag sequence number",
        "operationId": "fetchLeadDetailByVrn",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Contains Tag Sequence Number for which lead data needed to be fetched",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchOELeadDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response of Fetching Lead Data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchOELeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/create-lead": {
      "post": {
        "tags": [
          "Lead Controller Resources"
        ],
        "summary": "Process for Creating a lead for a tag",
        "description": "This API is used for Creating a lead for a tag with document details",
        "operationId": "createLead",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Contains tag details like vrn , tsn and other details along with document information needed to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocumentLeadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response of Lead Creation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocumentLeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fastag/issuance/buynow": {
      "post": {
        "tags": [
          "Tag Issuance Endpoints"
        ],
        "summary": "Buy Now API for issuing tag for OMS",
        "description": "This api is used to issue a tag with required parameters and through OMS",
        "operationId": "buyNowTag",
        "parameters": [
          {
            "name": "sso-token",
            "in": "header",
            "description": "sso-token to be validated before execution",
            "required": true
          },
          {
            "name": "orderId",
            "in": "header",
            "description": "orderId of Tag",
            "required": true
          },
          {
            "name": "sso_token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allRequestParams",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MultiValueMapStringString"
            }
          }
        ],
        "requestBody": {
          "description": "Contains details of tag , vrn and documents for which tag needed to be issued",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuyNowRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagDocumentUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/intissuance/tpcorporate/v1/partyOnboard": {
      "post": {
        "tags": [
          "Third Party Corporate Party Management Resource"
        ],
        "summary": "Onboard a new Third Party",
        "description": "Called for onboarding a new third party into system",
        "operationId": "onboardParty",
        "parameters": [
          {
            "name": "sso-token",
            "in": "header",
            "description": "sso-token to be validated before execution",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Contains details of client ID and notification url for third party on-boarding",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartyOnboardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartyOnboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/intissuance/tpcorporate/v1/onboard": {
      "post": {
        "tags": [
          "Third Party Corporate Party Management Resource"
        ],
        "summary": "Onboard 3P Corporate",
        "description": "Called for onboarding a new corporates into system from third party",
        "operationId": "onboardCorporate",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contains details of third party corporate to be onboarded for a third party",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CorporateOnboardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorporateOnboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/intissuance/tpcorporate/v1/issuance": {
      "post": {
        "tags": [
          "Third Party Corporate Party Management Resource"
        ],
        "summary": "Bulk Issuance",
        "description": "Called for Bulk Issuance to party's corporates",
        "operationId": "bulkIssuance",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contains two parts as request body Multipart File containing records according to BulkIssuanceRecordV2 and data part for request json string",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BulkIssuanceRecordV2"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartyCorporateIssuancePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartyCorporateIssuanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fastag/oem/pending-issuance/accept/self-linking/request": {
      "post": {
        "tags": [
          "Resource for Managing OEM Pending Issuance"
        ],
        "summary": "Allows user to accept the hard block request when customer accepts the notification link",
        "description": "This API is used to accept the hard block request when customer accepts the notification link",
        "operationId": "acceptSelfLinkingRequest",
        "parameters": [
          {
            "name": "jwt-token",
            "in": "header",
            "description": "jwt token produced for this user id.",
            "required": true
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id for jwt token validation",
            "required": true
          },
          {
            "name": "clientId",
            "in": "header",
            "description": "client id for token validation",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptSelfLinkingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CommonResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
[...]
